{% extends "layout.html" %}
{% block content %}
    {% for post_data in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post_data.time }}</small>
            </div>
            <h4><a class="article-title" href="#">{{ post_data.title }}</a></h4>
            <p class="article-content">By: {{ post_data.by }}</p>
            <a class="article-url" href="{{ post_data.url }}">{{ post_data.url }}</a>
            <p>{{ post_data.net_likes }} likes</p>
            <form action="{{ url_for('like_post', post_id=post_data.id) }}" method="post">
              <input type="submit" value="Like">
            </form>
            <form action="{{ url_for('dislike_post', post_id=post_data.id) }}" method="post">
              <input type="submit" value="Dislike">
            </form>
          </div>
        </article>
    {% endfor %}
    <!-- Pagination Controls -->
    {% if pagination_info.total_pages > 1 %}
<nav>
  <ul class="pagination justify-content-center">
    {% for page_num in range(1, pagination_info.total_pages + 1) %}
      <li class="page-item{% if page_num == pagination_info.page %} active{% endif %}">
        <a class="page-link" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% endblock content %}
